.env
TraceTalk/__pycache__/chatbot_agent.cpython-311.pyc
TraceTalk/__pycache__/handle_multiprocessing.cpython-311.pyc
TraceTalk/__pycache__/prep_data.cpython-311.pyc
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Chat-with-Document-s-using-ChatGPT-API-and-Text-Embedding/FileContentIndex/2c7430ab-8236-423b-9263-6e71009cdc53.vsidx
.vs/Chat-with-Document-s-using-ChatGPT-API-and-Text-Embedding/FileContentIndex/842c93c8-be54-4b65-af69-25ce175b5974.vsidx
.vs/Chat-with-Document-s-using-ChatGPT-API-and-Text-Embedding/FileContentIndex/ba474946-4754-4d40-9ec3-abc155e4e82f.vsidx
.vs/Chat-with-Document-s-using-ChatGPT-API-and-Text-Embedding/FileContentIndex/e06b0c21-da90-4077-856d-1cdfa964ffee.vsidx
.vs/Chat-with-Document-s-using-ChatGPT-API-and-Text-Embedding/FileContentIndex/read.lock
.vs/Chat-with-Document-s-using-ChatGPT-API-and-Text-Embedding/config/applicationhost.config
.vs/Chat-with-Document-s-using-ChatGPT-API-and-Text-Embedding/v17/.wsuo