aiofiles==23.2.1
aiohttp==3.9.5
aioprocessing==2.0.1
aiosignal==1.3.1
altair==5.3.0
analytics-python==1.2.9
annotated-types==0.7.0
anthropic==0.21.3
anyio==4.3.0
attrs==23.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==5.3.3
camel-ai @ git+https://github.com/Appointat/camel.git@061a0aa40cd334df2b3f6d0c021f66966358feee
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dataclasses-json==0.6.6
deepdiff==7.0.1
distro==1.9.0
docker-pycreds==0.4.0
docstring-parser==0.15
emoji==2.12.1
filelock==3.14.0
filetype==1.2.0
Flask==3.0.3
fonttools==4.52.1
frozenlist==1.4.1
fsspec==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
gql==3.5.0
graphql-core==3.2.3
groq==0.8.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.1
idna==3.7
imgcat==0.5.0
itsdangerous==2.2.0
janus==1.0.0
Jinja2==3.1.4
joblib==1.4.2
jsonpath-python==1.0.6
jsonschema==4.22.0
jsonschema-path==0.3.2
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
langdetect==1.0.9
lazy-object-proxy==1.10.0
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.9.0
mdurl==0.1.2
mistralai==0.2.0
multidict==6.0.5
mypy-extensions==1.0.0
networkx==2.8.8
nltk==3.8.1
numpy==1.26.4
openai==1.30.3
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
ordered-set==4.1.0
orjson==3.10.3
packaging==24.0
pandas==2.2.2
pathable==0.4.3
pathlib==1.0.1
pillow==10.3.0
platformdirs==4.2.2
prance==23.6.21.0
protobuf==4.25.3
psutil==5.9.8
pyarrow==16.1.0
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.2
pypdf==4.2.0
python-dateutil==2.9.0.post0
python-iso639==2024.4.27
python-json-logger==2.0.7
python-magic==0.4.27
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.9.1
referencing==0.31.1
regex==2024.5.15
requests==2.32.2
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.7.1
rpds-py==0.18.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
sentry-sdk==2.3.1
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
streamlit==1.35.0
tabulate==0.9.0
tenacity==8.3.0
tiktoken==0.7.0
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
transformers==4.41.1
typing-inspect==0.9.0
typing_extensions==4.12.0
tzdata==2024.1
unstructured==0.14.2
unstructured-client==0.22.0
urllib3==2.2.1
wandb==0.17.0
watchdog==4.0.1
weave==0.50.3
Werkzeug==3.0.3
wikipedia==1.4.0
wrapt==1.16.0
yarl==1.9.4
